
 /*------------------- */
 /* 球団トーク一覧     */
 /*------------------- */
.container_body {
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 50px;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 4px #212529;
    box-sizing: border-box;
}

.page_title {
    font-size: 1.5rem;
    padding: 1rem 1rem 1.5rem;
    margin-bottom: 25px;
    position: relative;
}

.page_title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.team_select {
    color: #fff;
    background: #212529;
    font-size: 0.9rem;
    padding: 0.8em;
    margin: 20px 0 40px;
    width: 110px;
    border-radius: 5px;
    box-shadow: 0 0 2px #212529;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.team_select:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 20px;
    border: 15px solid transparent;
    border-top: 15px solid #212529;
    width: 0;
    height: 0;
}

.team_name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 25px;
}