
/* ------------------- */
/* マイページ          */
/* ------------------- */
.container_body {
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 50px;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 4px #212529;
    box-sizing: border-box;
}

.page_title {
    font-size: 1.5rem;
    padding: 1rem 1rem 1.5rem;
    margin-bottom: 25px;
    position: relative;
}

.page_title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper_left {
    width: 65%;
    box-sizing: border-box;
}

.user_info {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.user_name {
    font-size: 1.4rem;
    font-weight: bold;
    padding-right: 25px;
    margin-right: 10px;
    background: linear-gradient(transparent 70%, #A7D6FF 70%);
}

.user_created_at {
    font-size: 0.8rem;
}

.user_favorite_team {
    font-size: 0.9rem;
    margin-top: 15px;
}

.user_favorite_team a {
    font-weight: bold;
}

.user_profile {
    font-size: 0.9rem;
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
}

.talks_title {
    color: #212529;
    background: #C7EEFF;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.3;
    width: 80%;
    padding: 8px 5px 8px 50px;
    margin: 55px 0 30px -33px;
    box-sizing: border-box;
    position: relative;
}

.talks_title:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    border: none;
    border-left: solid 40px white;
    border-bottom: solid 79px transparent;
}

.talk {
    margin-bottom: 25px;
}

.talk_info {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.talk_title {
    font-size: 1.1rem;
    font-weight: bold;
}

.talk_posts_number {
    flex-shrink: 0;
}

.talk_created_at {
    margin-right: 10px;
}

.delete_btn {
    color: #3490DC;
    background-color: #fff;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    text-align: center;
}

.wrapper_right {
    width: 35%;
    color: #fff;
    background-color: #212529;
    padding: 40px 15px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 6px #212529;
    box-sizing: border-box;
    text-align: center;
}

.profile_image {
    width: 140px;
    height: 140px;
    margin: 0 auto 15px;
    border-radius: 50%;
    box-shadow: 0 0 8px #FAFAFA;
    box-sizing: border-box;
}

.delete_profile_image {
    color: #3490DC;
    background-color: #fff;
    font-weight: bold;
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 6px #FAFAFA;
    box-sizing: border-box;
}

.edit_profile_image {
    margin: 60px 0;
}

.edit_profile_image_text {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.file_btn {
    display: inline-block;
}

.upload_btn,
.create_talk_btn {
    color: #3490DC;
    background-color: #fff;
    font-weight: bold;
    width: auto;
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 6px #FAFAFA;
    box-sizing: border-box;
}

.edit_profile {
    font-size: 0.95rem;
    margin-bottom: 8px;
}

.edit_profile_btn {
    color: #3490DC;
    background-color: #fff;
    font-weight: bold;
    width: 80px;
    padding: 5px 10px;
    margin: 0 auto 60px;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 6px #FAFAFA;
    box-sizing: border-box;
}

.create_talk_theme {
    font-size: 0.95rem;
    margin-bottom: 8px;
}

.create_talk_area {
    display: block;
    font-size: 0.85rem;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #212529;
    box-shadow: 0 0 6px #FAFAFA;
    box-sizing: border-box;
}



/* レスポンシブ対応　1280px */
@media screen and (max-width: 1280px) {
    .container_body {
        width: 92vw;
    }
    
    .wrapper_left {
        width: 60%;
    }
    
    .wrapper_right {
        width: 40%;
    }
}



/* レスポンシブ対応　1023px */
@media screen and (max-width: 1023px) {
    .container_body {
        width: 96vw;
    }
}



/* レスポンシブ対応　960px */
@media screen and (max-width: 960px) {
    .container_body {
        width: 92vw;
    }
    
    .wrapper {
        display: block;
    }
    
    .wrapper_left {
        width: 100%;
    }
    
    .wrapper_right {
        width: 70%;
        margin: 0 auto;
    }
}



/* レスポンシブ対応　768px */
@media screen and (max-width: 768px) {
    .container_body {
        width: 96vw;
        padding: 25px 35px;
        box-sizing: border-box;
    }
    
    .page_title {
        font-size: 1.3rem;
    }
    
    .user_name {
        font-size: 1.3rem;
    }
    
    .talks_title {
        width: 100%;
    }
    
    .talk_title {
        font-size: 1rem;
    }
    
    .wrapper_right {
        width: 85%;
    }
}



/* レスポンシブ対応　500px */
@media screen and (max-width: 500px) {
    .page_title {
        font-size: 1.2rem;
    }
    
    .user_info {
        display: block;
    }
    
    .user_name {
        font-size: 1.2rem;
    }
    
    .user_favorite_team {
        margin-top: 25px;
    }
    
    .user_profile {
        margin-top: 25px;
    }
    
    .talks_title {
        margin-top: 50px;
    }
    
    .talk_info:nth-child(1) {
        display: block;
    }
    
    .talk_title {
        font-size: 0.9rem;
        margin-bottom: 8px;
    }
    
    .talk_posts_number {
        margin-bottom: 2px;
    }
    
    .delete_btn {
        font-size: 0.6rem;
        padding: 1px 0;
        width: 45px;
        height: 22.5px;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
    }
    
    .wrapper_right {
        width: 100%;
        padding: 30px 8px;
        box-sizing: border-box;
    }
    
    .profile_image {
        width: 110px;
        height: 110px;
    }
    
    .delete_profile_image {
        font-size: 0.7rem;
        font-weight: normal;
        width: 60px;
        height: 30px;
    }
    
    .edit_profile_image {
        margin: 40px 0;
    }
    
    .edit_profile_image_text {
        font-size: 0.9rem;
        margin-bottom: 8px;
    }
    
    .file_btn {
        font-size: 90%;
    }
    
    .edit_profile {
        font-size: 0.9rem;
    }
    
    .edit_profile_btn {
        padding: 3px 6px;
        margin-bottom: 40px;
    }
    
    .create_talk_theme {
        font-size: 0.9rem;
    }
}